@import "../../constants/styles/vars.scss";

.label {
  color: $dark_blue;
  margin-top: 20px;
  cursor: pointer;
}

.inner {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 20;
}

.modal_inner {
  background: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  padding: 0px 0 15px 0;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: scroll;
  max-height: 100vh;
}

.modal_content {
  padding: 0 20px;
}

.header {
  padding: 15px 20px 20px 20px;
  border-bottom: 1px solid #adadad;
}
.title {
  width: 95%;
  display: inline-block;
  vertical-align: baseline;
}
.popup_close {
  display: inline-block;
  transform: rotate(45deg);
  font-size: 30px;
  cursor: pointer;
  vertical-align: baseline;
  width: 5%;
  text-align: right;
}


.button_inner {
  padding: 15px 20px 0 20px;
  text-align: right;
  border-top: 1px solid $light_gray;
  margin-top: 25px;
}

.button {
  padding: 7px 15px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #adadad;

  &:hover {
    background: $button_gray;
  }
}

.param_name,
.param_value {
  display: inline-block;
}

.param {
  margin-top: 15px;
  white-space: normal;
  line-height: 20px;
}

.param_name {
  font-weight: bold;
}

.param_value {
  margin-left: 10px;
}

.check {
  margin-right: 5px;
}

@media screen and (max-width: $mobile) {
  .label {
    font-size: 14px;
  }
}
