@import "../../constants/styles/vars.scss";

.header {
  background: $blue;
  color: $white;
  padding: 20px 0 0 0;
}

.left_inner,
.right_inner {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.right_inner {
  text-align: right;
}

.row {
  display: inline-block;
}

.logo {
  max-width: 250px;
}

.name {
  font-size: 28px;
  display: block;
  text-shadow: 0 1px 1px $dark_brown;
}

.city {
  display: inline-block;
  font-size: 15px;
  color: $dark_brown;
  margin-top: 5px;
}

.button {
  color: $white;
  text-shadow: 0 1px 1px $dark_brown;
  text-decoration: none;
  font-size: 19px;
  padding: 13px 20px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 10px;

  &:hover {
    background: $black;
  }
}

.middle {
  width: 100%;
  text-align: center;
  color: $dark_brown;
  margin-top: 50px;
}

.title {
  font-size: 63px;
}

.subtitle {
  font-size: 24px;
  margin-top: 10px;
  padding: 0 100px;
  font-style: italic;
}

.bottom {
  text-align: center;
  margin-top: 40px;
}

.color_select {
  margin-top: 20px;
  color: $dark_brown;
  text-align: center;
}

.heading {
  font-size: 24px;
}

.icon {
  width: 15px;
  height: 15px;
}

.image {
  width: 70%;
}

.category {
  display: inline-block;
  width: 18%;
  background: $white;
  position: relative;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: top;

  &:not(:first-of-type) {
    margin-left: 2%;
  }
}

.toggle {
  position: absolute;
  top: 20px;
  left: 20px;
}

.checkboxes {
  text-align: center;
  width: 90%;
  margin: 50px auto 0 auto;
}

.name_category {
  display: inline-block;
  font-size: 16px;
  min-height: 35px;
  margin-top: 5px;
  color: $black;
}

.select {
  width: 100%;
  margin-top: 15px;
  display: inline-block;

  select {
    width: 100%;
    background: $white;
    height: 30px;
    outline: none;
  }
}

.colorSelector {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 8px 14px;
  color: $black;
  background: $white;
  border-radius: 5px;
  border: 1px solid $gray;

  &:not(:first-of-type) {
    margin-left: 15px;
  }

  &:hover {
    background: $light_gray;
  }
}

.active {
  background: $light_gray;
  border: 1px solid $gray;
}

.checked_icon {
  display: inline-block;
  width: 13px;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 14px;
}

.color_picker {
  margin-top: 20px;
}

.subheader {
  background: $yellow;
  color: $black;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}

.link {
  color: $black;
  font-family: sans-serif;
  font-size: 18px;
  letter-spacing: 0.2px;
}

.deactive {
  opacity: 0.5;
}
